<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--STYLE-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="utilities.css">
    <!--ICN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!--VUE-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="baseContainer" class="d-flex j-cont-cent align-it-center">
            <div id="container" class="d-flex">
                <div id="lft-cont">
                    <div id="top-lft-cont" class="d-flex j-cont-between align-it-center">
                        <div class="imgContainer">
                            <img src="img/avatar_io.jpg"></img>
                            <span></span>
                        </div>
                        <div class="icnMix">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div id="bottom-lft-cont">
                        <div id="bell" class="d-flex">
                            <div id="bellIcn" class="mr-1">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div id="">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <p class="undergray">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <div id="searchBar" class="d-flex">
                            <div class="lensIcn">
                                <i class="fa-solid fa-magnifying-glass" style="color: #8b9098;"></i>
                            </div>
                            <div class="startOrSearch">
                                <span>Cerca o inizia una nuova chat</span>
                            </div>
                        </div>
                        <ul>
                            <li v-for ="singoloUser in users" class="d-flex border align-it-center j-cont-between">
                                <div class="user-left d-flex">
                                    <div class="imgContainerSmall d-flex align-it-center">    
                                        <img v-bind:src="singoloUser.avatar" alt="">
                                    </div> 
                                    <div>
                                        <div id="uptext">{{singoloUser.nome}}</div>
                                        <div id="botttext">ultimo accesso</div>
                                    </div>
                                </div>                        
                                <div><span id="time">12:00</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="rgt-cont">
                    <div id="top-rgt-cont" class="d-flex j-cont-between align-it-center">
                        <div class="d-flex">
                            <div id="userImg" class="imgContainer d-flex align-it-center">
                                <img src="img/avatar_1.jpg">
                            </div>
                            <div>
                                <div v-for="singolo in names">{{singolo.noMe}}</div>
                            </div>
                        </div>     
                        <div class="icnMix">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!--se è inviato agg classe verde se è ricevuto quella bianca-->
                    <div id="bottom-rgt-cont" class="d-flex j-cont-cent align-it-center">
                        <div class="containerCenter d-flex flex-d-column-rev">
                            <ul>
                                <li v-for="mex in this.users[this.current].messages">
                                    <!-- <element v-bind:class = "(condition)?'class_if_is_true':'else_class'"></element> -->
                                    <p v-bind:class = "(messages.status == 'recived' ) ? 'whiteMex':'greenMex'">
                                        {{mex.message}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <script src="main.js"></script>
</body>
</html>