*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto' , sans-serif;
    background-color:rgb(37, 40, 42);   
}
#baseContainer{
    height: 100vh;
    background: linear-gradient(
        to top,
        rgb(218, 219, 213) 0%,
        rgb(218, 219, 213) 85%,
        rgb(0, 150, 136) 85%,
        rgb(0, 150, 136) 100%
      );
}
#container{
    width: 75vw;
    height: 90vh;
    background-color: rgba(112, 128, 144, 0.416);
}
#lft-cont{
   width: 33%;
   height: 100%;
   background-color: rgba(95, 158, 160, 0.568);
}
#rgt-cont{
    width: 67%;
    height: 100%;
}
#top-lft-cont , #top-rgt-cont{
    width: 100%;
    height: 10%;
    background-color: black;
    border: 1px solid white;
}
#bottom-lft-cont , #bottom-rgt-cont{
    width: 100%;
    height: 90%;
}
.greenMex{
    background-color: rgb(105, 130, 66);
    margin-left: auto;
    padding: 0.7rem 1rem;
    border-radius: 15px;
    margin-top: 1rem;
}
.whiteMex{
    background-color: whitesmoke;
    margin-right: auto;
    padding: 0.7rem 1rem;
    border-radius: 15px;
    margin-top: 1rem;

}
.undergray{
     color: gray;
     text-decoration: underline;
}
.border{
    border: 1px solid white;
    padding: 0.8rem;
}
#bell{
    background-color: rgb(142, 218, 252);
    padding: 0.7rem;
    font-size: 0.7em;
}
#bellIcn{
    font-size: 20px;
    color: rgb(142, 218, 252);
    background-color: white;
    border-radius: 50%;
    padding: 0.3rem;
}
#bottom-lft-cont{
    background-color: rgb(250, 250, 250);
}
#searchBar{
    background-color: white;
    margin: 0.5rem;   
}
.startOrSearch{
    font-size: 0.6rem;
    width: 100%;
}
.lensIcn{
    font-size: 10px;
}
.lensIcn , .startOrSearch{
    border: 1px solid rgba(205, 209, 211, 0.806);
    padding: 0.3rem 1.3rem;  
}
#top-lft-cont , #top-rgt-cont{
    background-color: rgb(234, 234, 234);
}
.icnMix{
    color: rgb(177, 177, 177); 
}
.icnMix>i{
    padding: 0.4rem;
    font-size: 1.2rem;
}
img{
    border-radius: 50%;
    width: 100%;
}
.imgContainer{
    width: 50px;
    height: 50px;
    margin-left: 0.4rem;
}
.imgContainerSmall{
    width: 25px;
    height: 25px;
}
#bottom-rgt-cont{
    background-image: url('img/mine.jpg');
}
#botttext{
    font-size: 0.6rem;
}
.containerCenter{
    width: 600px;
    height: 500px;
    padding: 2rem;
}
#time{
    font-size: 10px;
}
#footerCont{
    width: 100%;
    height: 7vh;
    background-color: rgb(243, 238, 234);
    margin-top: auto;
}
#textbox{
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    border: none
}
#searchUsers{
    border: none;
    width: 100%;
}
